
.discount__tag {
    z-index: 999;
    font-family: var(--dm-sans);
    &::after {
        content: '';width: 100%;height: 100%;background-color: #ffffffc0;
        position: absolute;top: 0%;left: 0%;backdrop-filter: blur(10px);
    }
}


.heroBannerCarouselPagination {
    position: static;

    .swiper-pagination-bullet { 
        border-radius: 0%;transform: rotate(45deg);

        &.swiper-pagination-bullet-active {
            background-color: #832729;width: 30px;transform: rotate(0deg);height: 10px;
            clip-path: polygon(80% 0, 100% 50%, 80% 100%, 20% 100%, 0 50%, 20% 0);
        }
    }
} 
/*---- Category wrapper start -------*/ 
.category__col { width: 150px; }
.category__filter__col { width: calc(100% - 150px);padding-left: 1.5rem; }
@media(max-width:991px) {
    .category__col { width: 100%; }
    .category__filter__col { width: 100%;padding-left: 0rem; }
    
    .categoryCarousel .swiper-slide { display: inline-block;width: 25%; }
}
@media (min-width:992px) {
    .category__list__box { max-width: 100px;   }
}

.category__list__box {

    .category__item {
        cursor: pointer;
        .icon__box {
            width: 5rem;height: 5rem;
            background-color: #F5F5F4;
            border: 1px solid #F5F5F4;
    
            img {
                width: 4.5rem;height: 4.5rem;
            }
        }
        &.active {
            .icon__box { 
                border-color: #D89946;
                box-shadow: 4px 5px 15px -3px rgba(0, 0, 0, 0.20);
            }
            .title {
                color: #A76F25;
            }
        }
    }  
}

@media(max-width:767px) {
    .category__list__box {
        .swiper-slide {
            
        }
    }
}



.category__filter__box {
    border: 1px solid var(--border-color);padding: 2rem;

    .top__list {
        padding: .75rem 1.5rem .75rem .75rem;border: 1px solid var(--border-color);border-radius:var(--radius);

        .thumbs__list {
          
            img {
                width: 2.875rem;height: 2.875rem;border-radius: .5rem;
 
                &:nth-child(2) { margin-left: -1.75rem; }
                &:nth-child(3) { margin-left: -1.75rem; }
            }
        }
    }

    .gradient__box {
        background-image: linear-gradient(90deg, #FFF2E0 0%, #FFFCF7 100%);border-radius: var(--radius);
        padding: .75rem 3rem .75rem .75rem;box-shadow: 0 33px 21px -26px rgba(82, 60, 16, 0.08);

        .thumbnail__box {
            background-image: linear-gradient(#F4E3CC 0%, #FFF2E0 100%);border-radius:.5rem;padding:1px;
            .bg { 
                background-image: linear-gradient(#FFFCF7 0%, #FFFFFF 100%);border-radius:.5rem;
            }
        }

        .btn__arrow {
            border: 1px solid #D9BDBE;width: 2.75rem;height: 2.75rem;
            
            &:hover, &:focus, &:active {
                background-color: #D9BDBE;
            }
        }
    }
}
.product__card {
    .thumbnail {
        border-radius: var(--radius);
    }

    .caption {
        border: 1px solid var(--border-color);border-radius: 0 0 var(--radius) var(--radius);
        padding: .75rem .75rem 1.125rem .75rem;
    }
    .title {
        a {
            color: #1F242D;

            &:hover { color: var(--brand); }
        }
    }
    .desc { color: #1F242D; }
}

@media (max-width:767px) {
    .category__filter__box {
        border: 0;padding: 0%;

        .top__list {
            border-color: #ECECEA;border-radius:0%;
            .btn-outline-primary {
                background: linear-gradient(90deg, #832729 0%, #631517 100%);width: 2rem;height: 2rem;padding: 0% !important;border-radius: 50% !important;line-height: 1;

                svg { position: relative;top: -2px; }
            }
        }

        .gradient__box {
            padding: 2px;background-image: linear-gradient(0deg, #FFF2E0 0%, #FFFCF7 45%);box-shadow:none;
            
            .thumbnail__box .bg {
                background-image: linear-gradient(#ffffff 0%, #ffffff 100%);
            }
            .caption {
                padding: 1.25rem;
            }
        }
    }
}
/*---- Category wrapper end -------*/ 

/*---- Video wrapper styles start -----*/ 
.video__box {
    .banner, .video {
        height: 600px;width: 100%;object-fit: cover;border-radius: 1.5rem;
    }
    .btn-white {
        bottom: 20%;width: 6.25rem;height: 6.25rem;background-color: transparent;border-color:#ffffff56;

        &::after {
            content: '';display: block;width: 100%;height: 100%;position: absolute;top: 0;left: 0;background-color: rgba(255, 255, 255, 0.2); 
            filter: blur(20px);
            -webkit-filter: blur(20px);
        }
    }
}
.video__wrapper {
    border: 1px solid var(--border-color);border-radius: 1.5rem;

    .explore__btn {
        background: linear-gradient(90deg, #832729 0%, #631517 100%);

        .icon {
            background-color: #832729;width: 2.62rem;height: 2.62rem;
            -webkit-box-shadow: inset -1px -1px 4px 0px rgba(131,39,40,0.67), inset 16px 16px 15px 4px rgba(73, 10, 12, 0.57);
            -moz-box-shadow: inset -1px -1px 4px 0px rgba(131,39,40,0.67), inset 16px 16px 15px 4px rgba(73, 10, 12, 0.57);
            box-shadow: inset -1px -1px 4px 0px rgba(131,39,40,0.67), inset 16px 16px 15px 4px rgba(73, 10, 12, 0.57);
            transition: all .3s ease-in-out;
            
        }
        &:hover, &:focus, &:active {
            background: linear-gradient(90deg, #832729 0%, #631517 100%);opacity: .6;

            .icon { background-color: #a76767; }
        }
    }

    .frame {
        left: 2rem;bottom: 2rem;

        &.right {
            left: auto;right: 2rem;
        }
    }
}

.collection__card {
    background-color: #fff;border: 1px solid #E2E1DF;border-radius: var(--radius);padding: var(--radius);
    transition: all .3s ease-in-out;

    .title {
        a {
            color: #070202;

            &:hover, &:focus, &:active {
                color: var(--brand);
            }
        }
    }

    &:hover {
        box-shadow: 18px 8px 29px 0px rgba(0, 0, 0, 0.10);
    }
}

@media(max-width:767px) {
    .video__box .video { height: 360px; }
}
@media(max-width:575px) {
    .video__box {
        border-radius: 0 !important;

        .video { border-radius: 0%; }

        .btn-white {
            bottom: 35%;transform: translate(-50%, -50%) !important;
            width: 3.5rem;height: 3.5rem;
            svg { width: 1.25rem;height: 1.25rem; }
        }
    }
    .video__wrapper {
        border: 0;
    }

    .productCarousel .swiper-slide {
        transform: scaleY(.9);transition: all .3s ease-in-out;
    }
    .productCarousel .swiper-slide-active {
        transform: scaleY(1); 
    }

}
/*---- Video wrapper styles end -----*/ 

/*---- Fixed collection box style start -----*/ 
.fixed__collection__box {
    right: 2rem;bottom: 2rem;z-index: 999;

    .btn-primary {
        background-color: #72252E;box-shadow: 0 18px 20px -5px rgba(73, 10, 12, 0.233);
        &.show {
            opacity: 0;
        }

        &:hover {
            box-shadow: none;opacity: .6;
        }
    }
    .dropdown-menu {
        padding: .5rem .75rem;
        background-color: #FFF9F2;border-color: #F0DBBC;transform: translate(0px, 0) !important;min-width: 167px;

        .dropdown-item {
            border-radius: 2rem;display: inline-block;width: auto;
            font-size: 11px;font-weight: 500;color: #4A0709;padding: .625rem 1rem;

            &:hover, &:focus, &:active {
                background-color: #72252E;color: var(--white);box-shadow: 0 18px 20px -5px rgba(73, 10, 12, 0.233);
            }
            &.jump {
                &:hover, &:focus, &:active {
                    background-color: transparent;color: #72252E;box-shadow: none;text-decoration: underline;
                }

            }

            &.active {
                background-color: #72252E;color: var(--white);box-shadow: 0 18px 20px -5px rgba(73, 10, 12, 0.233);
            }
        }
    }
}
/*---- Fixed collection box style end -----*/ 